<h1><%= current_company.name %> Dashboard</h1>

<h3>Users</h3>
<% current_company.users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<% if current_company_owner? %>
  <%= link_to "Edit #{current_company.name}", edit_company_path(@company) %>
<% end %>
